<div style="margin-left: 30px">
  <h1>Tree structure</h1>
  <br />

  <!-- LEVEL 1 DIV -->
  <div
    style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px"
  >
    <button
      class="btn btn-sm"
      style="
        border: 1px solid blue;
        border-radius: 50px;
        color: blue;
        padding: 5px 10px;
      "
      (click)="openDiv1()"
    >
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>

    <h4>Company</h4>
    <div style="display: flex; gap: 15px; margin-left: 10px">
      <button type="button" class="btn btn-secondary btn-sm">+ Add Rule</button>
      <button type="button" class="btn btn-secondary btn-sm">
        + Add Conclusion
      </button>
      <button style="border: none">
        <fa-icon [icon]="faPenIcon"></fa-icon>
      </button>
      <button style="border: none">
        <fa-icon [icon]="faTimesCrossIcon"></fa-icon>
      </button>
    </div>
  </div>

  <!-- LEVEL 2 DIV -->
  <div
    style="
      align-items: center;
      gap: 20px;
      margin-left: 50px;
      margin-bottom: 20px;
    "
    *ngIf="open1"
  >
    <div
      style="display: flex; align-items: center; gap: 20px"
      *ngFor="let level2data of level2"
    >
      <button
        style="
          border: 1px solid blue;
          border-radius: 50px;
          color: blue;
          padding: 5px 10px;
          margin-bottom: 20px;
        "
        class="btn btn-sm"
        (click)="openLevel2(level2data.level2Id)"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>

      <!-- Service -->
      <h6>{{ level2data.title }}</h6>
      <div style="display: flex; gap: 15px; margin-left: 10px">
        <button type="button" class="btn btn-secondary btn-sm">
          + Add Rule
        </button>
        <button type="button" class="btn btn-secondary btn-sm">
          + Add Conclusion
        </button>
        <button style="border: none">
          <fa-icon [icon]="faPenIcon"></fa-icon>
        </button>
        <button style="border: none">
          <fa-icon [icon]="faTimesCrossIcon"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- LEVEL 3 DIV -->
  <div
    style="
      align-items: center;
      gap: 20px;
      margin-left: 100px;
      margin-bottom: 20px;
    "
    *ngIf="open2"
  >
    <div
      *ngFor="let level3Data of level3"
      style="display: flex; align-items: center; gap: 20px"
    >
      <button
        style="
          border: 1px solid blue;
          border-radius: 50px;
          color: blue;
          padding: 5px 10px;
        "
        class="btn btn-sm"
        (click)="openLevel3()"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <!-- <h6>{{ level3Data.title }}</h6> -->
      <div style="display: flex; gap: 15px; margin-left: 10px">
        <button type="button" class="btn btn-secondary btn-sm">
          + Add Rule
        </button>
        <button type="button" class="btn btn-secondary btn-sm">
          + Add Conclusion
        </button>
        <button style="border: none">
          <fa-icon [icon]="faPenIcon"></fa-icon>
        </button>
        <button style="border: none">
          <fa-icon [icon]="faTimesCrossIcon"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- LEVEL 4 DIV -->
  <div
    style="
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: 150px;
      margin-bottom: 20px;
    "
    *ngIf="open3"
  >
    <div
      *ngFor="let level4data of level4"
      style="display: flex; align-items: center; gap: 20px"
    >
      <button
        style="
          border: 1px solid blue;
          border-radius: 50px;
          color: blue;
          padding: 5px 10px;
        "
        class="btn btn-sm"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <!-- <h6>{{ level4data.title }}</h6> -->
      <div style="display: flex; gap: 15px; margin-left: 10px">
        <button type="button" class="btn btn-secondary btn-sm">
          + Add Rule
        </button>
        <button type="button" class="btn btn-secondary btn-sm">
          + Add Conclusion
        </button>
        <button style="border: none">
          <fa-icon [icon]="faPenIcon"></fa-icon>
        </button>
        <button style="border: none">
          <fa-icon [icon]="faTimesCrossIcon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
